@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
	font-family: 'Fredoka One', cursive;
	background-color: #faebd7;
	color: white;
}
.botoes{
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.ler, .music, .movie, .game{
	width: 50px;
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: left;
	margin: 20px;
	padding: 10px;
	border-radius: 20px;
	transition: 1s;
}
.ler:hover, .music:hover, .movie:hover, .game:hover{
	width: 230px;
	height: 50px;
	
}
.ler:hover{
    color: #F5ADC1;
}
.music:hover{
    color: #CABFDB;
}
.movie:hover{
    color:#ABC6DB;
}
.game:hover{
    color:#B5CEAE;
}
p{
	margin-left: 20px;
	overflow: hidden;
	transform: translateX(5px);
}